<div class="row">
	<div class="col-md-8">
		<h1>All Restaurant Reviews</h1>
	</div>
	<div class="col-md-4">
		<% if user_signed_in? %>
		<%= link_to "Write A Review!", new_post_path, class: 'btn btn-primary right' %>
		<% end %>
	</div>
</div>

<% @posts.each do |post| %>
<div class="jumbotron">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag(post.image.url(:thumb)) if post.image? %>
		</div>
		<div class="col-md-8">
    	<h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
    	<p class="card-text"><%= post.body %></p>
    	</div>
    	<br>
    </div>
</div>
<% end %>